#### 基础操作
Pandas中的核心是DataFrame,所有的数据基本上都包含在这个DataFrame里面.    
以下区分：  
DataFrame & Series  
iloc & loc

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame(data={"apple":[12,23,34,46,78,98,23,45,67,24,78,56,89,90],"banana":[12,23,34,46,78,98,23,45,67,24,78,56,89,90],"level":["good","nice","well","bad","nice","well","bad","good","nice","well","well","bad","good","nice"]})
print(data.level)

####
基本数据描述操作    
describe()：根据数据类型的不同输出不同的数据描述  
对于数值型则输出基本的数字描述，对于字符串类型则输出频率等等
其余的数值型简单如mean(),median(),sum()等等，他们都可以套起来使用。对字符串的value_counts(),unique()等等。

In [ ]:
data.apple.describe()      
data.level.value_counts()
data.level.unique()         # 返回array

####
类似于Python列表中的两种应用: map->不是inplace的方法 reply->inplace方法  
获取某一个属性中由大到小排列的坐标序列.idxmax() .idmin()等

In [ ]:
mean_val = data.apple.mean()
data.apple = data.apple.map(lambda p: p - mean_val)
print(mean_val,data.apple)

def remean_it(row,mean_data):
    row.banana = row.banana - mean_data
    return row
mean_val = data.banana.mean() - 10
data.apply(remean_it,axis="columns",mean_data = mean_val)

####
排序和分组，map和apply方法都是针对一列的一次操作，如果需要对特定列特定行的进行数据分析就要自己分组和sort
####
groupby(), agg()
####
multi-indexes: 这个是经过group操作之后的索引,比如可能是某个字符串国家，城市等等 如果要恢复到数值索引需要用reset_index()
####
sort排序，默认排序是按照index进行排序而不是某个字段的值大小 .sort_values(by='len', ascending=False)  按值排序，.sort_index()
按index排序

In [ ]:
# data.groupby("level").count()
# # data.groupby("apple").level.count()  # 后面的count只对数值类型有效，level字符串之后会出错
# data.groupby("level").apple.count()     
# data.groupby("level").apple.mean()
# data.groupby("level").apple.min()
# data.groupby("level").apple.max()
# data.groupby("level").apple.median()
# data.groupby("level").apple.std()
# data.groupby(["level","apple"]).banana.max()
# data.groupby("level").agg([len,min,max]).reset_index()
new_data = data.groupby("level").apple.agg([len,min,max])
new_data = new_data.reset_index()
new_data.sort_values(by = ["len","min"],ascending = False)
new_data.sort_index()
data.groupby(["level","apple"]).size().sort_values(ascending=False)
data.groupby("level")

####
处理字段缺失的情况  
每个字段都有dtype属性和astpe()方法
####
对于有缺失值的地方pd会标记为NaN,可以通过pd.isnull()来检测这个字段。最关键的是pd提供了一些fillna()方法来填充这些缺省值。可以针对不同类型的数值填充。   
可以使用replace进行值替换。

####
重命名和组合rename&combine  
rename既可以对列属性重命名，也可以对固定某行的索引重命名，实际上对列重命名更常见。也可以对row和col的轴重命名rename_axis()

In [ ]:
data.rename(columns={"apple":"F1","banana":"F2"})
data.rename(index={4:"四",8:"Ⅷ"})

####
此外最重要的一个操作是对两个不同的数据帧进行组合。concate(),join(),merge()

In [81]:
filed1 = (np.random.randn(10) * 10).astype(np.int)
filed2 = (np.random.randn(10) * 10).astype(np.int)
data1 = pd.DataFrame(data={"field1":filed1,"field2":filed2,"field3":(np.random.randn(10) * 10).astype(np.int)})
data2 = pd.DataFrame(data={"field1":filed1,"field2":filed2,"Field333":(np.random.randn(10) * 10).astype(np.int)})
pd.concat([data2,data1],axis=1)   # 指定方向进行拼接 如果拼接的时候两个互相不对应，那么拼接后的维度是之前的维度之和，缺省的地方为NaN
data1 = data1.set_index(["field1","field2"])
data2 = data2.set_index(["field1","field2"])
data1.join(data2,lsuffix="_Can",rsuffix="_Can")     # 将具有公共属性的两张表联合起来，前提是必须要设置index, 后面两个只是为了区分其余join之后的可能字段名相同的情况

               field3  Field333
field1 field2
-4     -21          3        -8
-16     22          5         1
 13     10         17        24
-6     -2          -2         8
 3     -1         -22        14
 2      16          0        -2
-12    -4          -8         7
-5      9         -12       -10
-16     0           8        -2
-15    -9          -7       -11